.cover__link{
    margin: 92px auto 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../images/trains2.png);
    background-size: cover;
    background-position: center;
    text-decoration: none;
    max-width: 1184px;
    min-height: calc((740/1184) * min(1184px, 100vw));
    z-index: 0;
}
.cover__link:before{
    content: "";
    background: #2A2C2F;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
}
.cover__link:hover:after{
    content:"";
    background: #2A2C2F;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.8;
}

@media screen and (max-width: 767px){
    .cover{
        margin: 66px auto 0;
    }
    
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover{
        margin: 90px auto 0;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1279px){
    .cover__link{
        margin: 92px auto 0;
    }
}