.cover__link {
    position: relative;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../../images/trains2.png);
    background-size: cover;
    background-position: center;
    text-decoration: none;
    max-width: 1184px;
    min-height: calc((740/1184) * min(1184px, 100vw));
    z-index: 0;
}
.cover__link::before {
    content: "";
    position: absolute;
    background: #2A2C2F;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
}

.cover__link:hover::before {
    opacity: 0.8;
}

.cover__link:hover {
    cursor: pointer;
}

