.place__website_link{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    letter-spacing: 2px;
    color: #AAAAAA;
}
.place__website_link:hover {
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .place__website_link{
    font-size: 12px;
    line-height: 12px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__website_link {
      font-size: 18px;
      line-height: 22px;
    }
}