.place__paragraph{
    margin-bottom: 26px;
    margin-top: 0;
}
@media screen and (max-width: 425px){
    .place__paragraph:first-child{
        margin-top: 0;
    }
    .place__paragraph{
        margin-top: 25px;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px){
    .place__paragraph:last-child{
        margin-bottom: 0;
    }
}