.place__paragraph {
    margin-bottom: 26px;
    margin-top: 0;
}

.place__paragraph:nth-child(2) {
    margin-bottom: 0;
}
.place__paragraph:last-child {
    margin-bottom: 0;
}
@media screen and (max-width: 767px) {
    .place__paragraph:first-child {
        margin-top: 0;
    }
    .place__paragraph {
        margin-top: 25px;
        margin-bottom: 0;
    }
}
