.place__website_url-heading{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 2px;
text-decoration-line: underline;
color: #FFFFFF;
}
@media screen and (max-width: 767px){
    .place__website_url-heading{
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 12px 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__website_url-heading {
        font-size: 12px;
        line-height: 12px;
        margin: 0 0 12px 0;
    }
}