.lead__container_image{
    width: 100%;
    margin: 0 auto;
}
/*
@media screen and (max-width: 425px){
    .lead__container_image{
        width: 320px;
        height: 200px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .lead__container_image{
        max-width: 928px;
        max-height: 580px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
    .lead__container_image{
        max-width: 768px;
        max-height: 480px;
    }
} 
*/